<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuickKart Hub</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="/static/favicon.png">
</head>

<body class="bg-gray-100 min-h-screen flex flex-col">
    <div class="w-full p-4 flex justify-end">
        {% if request.session.user_name %}
            <span class="mr-4 text-gray-700">
                Hi, {{ request.session.user_name }}
            </span>
            <a href="/logout/" class="bg-indigo-600 text-white px-4 py-2 rounded">
                Logout
            </a>
        {% else %}
            <a href="/login/" class="bg-indigo-600 text-white px-4 py-2 rounded">
                Login
            </a>
        {% endif %}
    </div>

    <div class="flex-grow flex justify-center items-center p-6">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
