{% extends "base.html" %}
{% block content %}

<div class="max-w-4xl mx-auto p-6">

    <div class="bg-white shadow p-6 rounded-xl">
        <div class="flex flex-col md:flex-row gap-8">

            <div class="flex-1">
                <h1 class="text-3xl font-bold">{{ product.name }}</h1>

                <p class="text-indigo-600 text-2xl font-bold mt-2">₹{{ product.price }}</p>

                <p class="text-gray-600 mt-2">Available Stock: {{ product.stock }}</p>

                <p class="mt-4 text-gray-700">
                    Category:
                    <span class="font-semibold text-gray-900">{{ product.category }}</span>
                </p>

                <!-- Quantity + Add to Cart -->
                <form action="/cart/add/{{ product.id }}/" method="post" class="mt-6 flex items-center gap-4">
                    {% csrf_token %}

                    <div>
                        <label class="font-semibold">Quantity:</label>
                        <input type="number"
                               name="qty"
                               min="1"
                               max="{{ product.stock }}"
                               value="1"
                               class="w-20 px-3 py-2 border rounded-lg text-center" required>
                    </div>

                    <button type="submit"
                            class="px-6 py-3 bg-indigo-600 text-white rounded-xl hover:bg-indigo-700">
                        Add to Cart
                    </button>
                </form>

            </div>
        </div>
    </div>

</div>

{% endblock %}
